 body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f0f0f5;
      color: #333;
    }
    .hero {
      background-image: url();
      background-size: cover;
      background-position: center;
      padding: 100px 0;
      text-align: center;
      color: rgb(14, 1, 1);
    }
    .hero img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid #fff;
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }
    .btn {
      margin: 5px;
    }
    h2 {
      color: #007bff;
      font-weight: 500;
    }
    ul li {
      font-size: 18px;
      padding: 5px 0;
    }
    .footer {
      background-color: #000;
      color: white;
      padding: 25px 0;
      text-align: center;
      font-weight: bold;
    }
    .whatsapp-float {
      position: fixed;
      top: 50%;
      right: 10px;
      z-index: 9999;
    }
    .whatsapp-float a {
      font-size: 28px;
      background-color: #25D366;
      color: white;
      padding: 12px 15px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      display: inline-block;
    }